body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #fffaf0;
}

.title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.item-btn {
    padding: 20px;
    background: #ffdd99;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.input-area {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.add-btn {
    padding: 10px;
    background: #ffbb55;
    border: none;
    border-radius: 10px;
}

.subtitle {
    margin-top: 20px;
    font-size: 24px;
}

#cart {
    margin-top: 10px;
    padding-left: 0;
}

#cart li {
    list-style: none;
    padding: 10px;
    margin-bottom: 5px;
    background: #fff1d6;
    border-radius: 6px;
}

.total {
    margin-top: 20px;
    font-size: 26px;
    font-weight: bold;
}

.clear-btn {
    margin-top: 15px;
    padding: 12px;
    width: 100%;
    background: #ff7777;
    color: white;
    border: none;
    border-radius: 10px;
}
